* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emote {
  display: flex;

  justify-content: center;
  margin: 10px;

  margin-top: 50px;
  width: 50vw;

  align-items: center;
  overflow: scroll;
  grid-row: 2/7;
}

.emoteSwitch {
  display: flex;

  justify-content: center;

  margin-top: 7vh;

  overflow: visible;
  grid-row: 1/4;
}

.giff {
  margin-top: 5vh;
  margin-bottom: 20px;
  height: 10vh;
}
.giffmario {
  height: 5vh;
  margin-bottom: 30px;
}

.giffRaper {
  height: 90%;
}

.giffMoneyMouth {
  height: 7vh;
  margin-bottom: 30px;
}

#topTip {
  height: 15vh;
  margin-bottom: 30px;
}
