* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emote {
  display: flex;

  justify-content: center;
  margin: 10px;

  margin-top: 50px;
  width: 50vw;

  align-items: center;
  overflow: scroll;
  grid-row: 2/7;
}

.emoteSwitch {
  display: flex;

  justify-content: center;

  margin-top: 7vh;

  overflow: visible;
  grid-row: 1/4;
}

.giff {
  margin-bottom: 20px;
}
.giffmario {
  height: 5vh;
  margin-bottom: 30px;
}

.giffRaper {
  height: 90%;
}
