@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.eot");
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"),
    url("../fonts/Comfortaa-Light.woff") format("woff"),
    url("../fonts/Comfortaa-Light.ttf") format("truetype");

  font-style: normal;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: rotate(29deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-23deg);
  }
  30% {
    transform: rotate(29deg);
  }
  40% {
    transform: rotate(-19deg);
  }
  50% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(0deg);
    opacity: 0.2;
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.main {
  font-family: "Comfortaa", cursive;

  font-weight: 600;
  background-color: #cfe2e6;
  color: #001427;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  overflow: hidden;
  gap: 9vh;
}

.swipeMonth {
  margin-top: 40px;

  font-size: 2em;
  opacity: 0.5;

  p {
    display: inline-block;
    opacity: 1;
  }
}
#month {
  display: inline-block;
  font-size: 1.1em;
  padding-left: 25px;
  padding-right: 25px;
}

#swipeIcon {
  height: 50px;
  margin-top: 10px;
  opacity: 0.8;
  animation-fill-mode: forwards;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.swipeArrows1 {
  display: inline;
  opacity: 0.3;
}

.swipeArrows2 {
  display: inline;
  opacity: 0.5;
}

.percToday {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  background-color: #cfe2e6;
  color: #001427;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 10vh;
  font-size: 1.5em;
}

.backButt {
  padding: 5px 10px;
  background-color: #001427;
  color: #cfe2e6;
  border-radius: 7%;
  opacity: 0.7;
  border: none;
  margin-bottom: 20px;
  margin-top: -7vh;
}

#percButton {
  margin-top: -60px;
}

#ulDiv {
  background-color: #cfe2e6;
  color: #001427;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#trueUl {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100vw;
}

.trueLi {
  text-align: center;
  display: flex;
}

///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

@keyframes glow {
  100% {
    opacity: 0.3;
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
  50% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 0.7);
  }
  0% {
    opacity: 0.3;
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }
}

.logoDiv {
  background-color: #cfe2e6;
  color: #001427;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 7vh;

  .logo {
    -webkit-animation: glow 5s ease-in-out infinite;
    -moz-animation: glow 5s ease-in-out infinite;
    animation: glow 5s ease-in-out infinite;
    height: 300px;
    width: 300px;
  }

  .info {
    position: fixed;
    bottom: 15px;
    margin-left: 10px;
    width: 100%;
    font-size: 14px;

    margin-bottom: 30vh;
  }
}

.globalDiv {
  background-color: #cfe2e6;
  color: #1c2229;
  height: 100vh;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10vh;

  .globalTitle {
    margin-bottom: 10vh;
    color: #1c2229;
  }

  .globaUlWrapper {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .globalUl {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      font-size: 0.8em;
      width: 15vw;
      padding: 8px;
    }
  }
}

#allManch {
  display: inline;
}

#allDilivered {
  color: #aa6a25;
}

#allPerc {
  color: #a82b29;
  display: inline;
}

.perc {
  display: flex;
  color: #a82b29;
}

.values {
  display: flex;
  color: #aa6a25;
}

.mods {
  display: flex;

  font-style: italic;
}

#backButton {
  margin-top: 10vh;

  border: none;
}

.commandsUl {
  text-align: center;
}

#fakeDiv {
  height: 7vh;
}

.weekDayPerc {
  font-size: 0.7em;
  margin-top: 20px;
  opacity: 0.5;
}
