@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Comfortaa", cursive;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.mainDiv {
  transition: 0.4s ease-out;
  background-color: #cfe2e6;
  color: #001427;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.mainDivRec {
  transition: 0.4s ease-out;
  background-color: #0c1014;
  color: #cfe2e6;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;

  #total {
    background-color: rgb(36, 44, 51);
  }
}

.micAndTranscript {
  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: flex-start;
}

.micIndi {
  margin-top: 20px;
  opacity: 1;
}

#transcript {
  margin-top: 10vh;
  opacity: 0.8;
  font-size: 1.1em;
  text-align: center;
}

.buttonsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.button {
  height: 45px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 50%;
}

li {
  list-style-type: none;
  padding: 2.5px;
}
.manchaList {
  display: flex;

  justify-content: center;
  margin: 20px;
  max-height: 100%;
  margin-top: 70px;

  align-items: center;
  overflow: scroll;
}
.delButton {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  border: none;
}

#total {
  font-size: 1.5em;
  padding: 50px;
  border: 1px black dashed;
  border-radius: 50%;
  background-color: #cfe2e6;
  opacity: 0.9;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-align: left;
  width: 70vw;
}

p {
  display: "inline";
  font-size: 0.8em;
  opacity: 0.5;
  padding-right: 3px;
}
#num {
  color: rgb(12, 54, 54);
}

#timeInfo {
  color: rgb(12, 54, 54);
  padding-left: 10px;
  text-align: center;
  color: #684802;
  font-size: 0.8em;
}

.progBar {
  height: 80%;
}

.progBar2 {
  height: 90%;
}

.totDiv {
  width: 60%;
}
