@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.eot");
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"),
    url("../fonts/Comfortaa-Light.woff") format("woff"),
    url("../fonts/Comfortaa-Light.ttf") format("truetype");

  font-style: normal;
}

@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation1 {
  -webkit-animation: SHOW-BOX 0.7s ease;
  -moz-animation: SHOW-BOX 0.7s ease;
  -o-animation: SHOW-BOX 0.7s ease;
  animation: SHOW-BOX 0.7s ease;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Comfortaa", cursive;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.mainDiv {
  transition: 0.4s ease-out;
  background-color: #cfe2e6;
  color: #001427;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.mainDivRec {
  transition: 0.4s ease-out;
  background-color: #0c1014;
  color: #cfe2e6;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;

  #total {
    background-color: rgb(36, 44, 51);
  }
}

.micAndTranscript {
  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: flex-start;

  @include animation1;
}

.micIndi {
  margin-top: 20px;
  opacity: 1;
}

#transcript {
  margin-top: 10vh;
  opacity: 0.8;
  font-size: 1.1em;
  text-align: center;
}

.buttonsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.button {
  height: 45px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 50%;
}

li {
  list-style-type: none;
  padding: 2.5px;
}
.manchaList {
  display: flex;

  justify-content: center;
  margin: 20px;
  max-height: 100%;
  margin-top: 70px;

  align-items: center;
  overflow: scroll;
  grid-row: 2/7;
}
.delButton {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  border: none;
}

#total {
  font-size: 1.5em;
  padding: 50px;
  border: 1px black dashed;
  border-radius: 50%;
  background-color: #cfe2e6;
  opacity: 0.9;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-align: left;
  width: 70vw;
}

.listP {
  display: "inline";
  font-size: 0.8em;
  opacity: 0.5;
  padding-right: 3px;
}
#num {
  color: rgb(12, 54, 54);
}

#timeInfo {
  color: rgb(12, 54, 54);
  padding-left: 10px;
  text-align: center;
  color: #684802;
  font-size: 0.8em;
}

.progBar {
  height: 80%;
}

.progBar2 {
  height: 90%;
}

.totDiv {
  width: 60%;
}

#dial {
  border-radius: 0%;
  height: 2.6em;
}

.dialInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 5vh;
  opacity: 0.8;
  font-size: 1.1em;
  text-align: center;

  .inputField {
    text-align: center;
    width: 30vw;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .saveDel {
    display: flex;
    gap: 10px;
  }

  .saveDelButtons {
    padding: 3px;
    border-radius: 5px;
  }
}

.switchDiv {
  grid-row: 4/7;
  padding-top: 5vh;
  @include animation1;
}

.switchManchaList {
  display: flex;

  justify-content: center;

  max-height: 100%;
  padding-top: 5vh;

  align-items: center;
  overflow: scroll;
  grid-row: 1/4;
  @include animation1;
}

.manchaModButtons {
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
